*{
    padding: 0;
    margin: 0;
}

img{
    
   max-width: 100%;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.headerSection {
    margin-top: 0px;
    background-color: #eaeeef;
    height: 118px;
}
.menu-logo img {
    height: 70px;
    width: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
}
.menu-list ul {
    display: inline-block;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 110px;
    list-style: none;
    
}
.menu-list li {
    display: inline-block;
    list-style: none;
    position: relative;
    margin-left: -35px;
}
.menu-list ul li a {
    display: inline-block;
    text-decoration: none;
    font-size: 21px;
    display: flex;
    align-items: center;
    width: 117px;
    justify-content: space-evenly;
    color: rgb(0, 0, 0);
    padding: 14px;
    width: 149px;
    margin-left: 15px;
}
.menu-list ul li a:hover{}



/* -------------Dropdown Menu----------------- */

li .dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 203px;
    padding-left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
    flex-direction: column;
    margin-top: 344px;
}

.menu-list ul li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    left: 0;
    margin-top: 294px;
    
}
li .dropdown li {
    background-color: #f4f7f7;
    display: block;
    width: 226px;
    border-bottom: 2px solid rgba(130, 9, 9, 0.568);
}
 

li .dropdown li a {
    text-align: center;
    display: block;
    width: 100%;
    text-align: left;
    transition: all .5s ease-in-out;
    padding-left: 20px;
  
}

li .dropdown li a:hover {
    padding-left: 40px;
}

/* ------------------------------------------ */

.bannerSection {
  
}
.bannner-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 176px;
}
.button a {
    justify-content: center;
    height: 47px;
    display: inline-block;
    background-color: #8490ff;
    color: #ffff;
    padding: 0 30px;
    width: 167px;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 7px;
    border: 1px solid #8490ff;
    transition: .4s ease-in-out;
}
.button a:hover {
   background-color: #ffff;
   color: #8490ff;
   border: 1px solid #8490ff;
}


/* ------------About Section----------------------- */

.aboutSection {
    margin-bottom: 50px;
}
.about-image {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 176px;
}
.about-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 176px;
}
.about a {
    justify-content: center;
    height: 47px;
    display: inline-block;
    background-color: #8490ff;
    color: #ffff;
    padding: 0 30px;
    width: 167px;
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 7px;
    border: 1px solid #8490ff;
    transition: .4s ease-in-out;
}
.about a:hover {
   background-color: #ffff;
   color: #8490ff;
   border: 1px solid #8490ff;
}

/* --------------Service------------------- */
.serviceSection{
    height: 300px;
    background-color: #8490ff;
    margin-bottom: 50px;
}

.sevice-text {
    color: #ffff;
    height: 291px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* /-------------------------------------- */

.appCard {
   
    width: 365px;
    height: 487px;
    box-sizing: border-box;
    box-shadow: rgb(199, 221, 242) 0px 9px 13px 2px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 38px;
    
}

.appCard a {
    text-decoration: none;
    font-size: 22px;
    margin-top: 48px;
    padding: 12px 34px;
    border: 2px solid #657be0;
    border-radius: 10px;
    color: #657be0;
    font-weight: 600;
    transition: All .5s ease-in-out ;
}

.appCard a:hover {
    text-decoration: none;
    font-size: 22px;
    margin-top: 48px;
    padding: 12px 34px;
    border: 2px solid #657be0;
    border-radius: 10px;
    color: #ffffff;
    background-color: #657be0;
    font-weight: 600;
}

/* ------------------------------------------ */




.number {
    margin-top: 51px;
    width: 67px;
    height: 67px;
    margin: 0 auto;
    margin-bottom: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.number::after {
    content: "";
    position: absolute;
    top: -11px;
    left: -8px;
    width: 90px;
    height: 90px;
    background-color: rgba(167, 167, 188, 0.388);
    border-radius: 50%;
    z-index: -1;
}

/* ---------------------Team Section---------------------- */
.teamMember {
    text-align: center;
    height: 328px;
    box-shadow: rgb(199, 221, 242) 0px 9px 13px 2px;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-top: 61px;
    position: relative;
}

.teambtn {
    margin-top: 28px;
    padding: 2px;
    display: inline-block;
    color: black;
    box-shadow: -1px 3px 16px -7px;
    font-size: 20px;
    padding: 6px 11px;
    border-radius: 6px;
}

.team-image {
    position: absolute;
    width: 99px;
    left: 9%;
    top: -22%;
}

/* ------------------------------------------- */
.form {
    margin: 0 auto;
    width: 83%;
    text-align: center;
    margin-top: -45px;
    line-height: 0;
    background-color:#ffffff ;
}

.btn-primary {
    font-size: 24px;
    background-color: #17a2b8;
    color: #ffff;
    width: 30%;
    padding: 16px;
    font-weight: 600;
    transition: all .5s ease-in-out;
    border: none;
}

.btn-primary:hover {
    font-size: 24px;
    color: #17a2b8;
    background-color: #ffff;
    border: none;
    width: 30%;
    padding: 16px;
    font-weight: 600;
   
}

.form-text-right {
    margin-top: 124px;
    margin-left: 55px;
    color: #212529;
}

/* ----------------Footer Section--------------------------- */

.footerText {
    text-align: center;
    margin: 0 auto;
    color: #9d9a96;
    background-color: #04091eed;
    height: 86px;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -31px;
    font-size: 25px;
}

/* ------------------------END------------------------------- */
/* ------------------------END------------------------------- */
/* ------------------------END------------------------------- */